body{
  text-align: center;
}

#productTable{
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#productTable td, #productTable th{
  border: 1px solid #ddd;
  padding: 8px;
}

#productTable th{
padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #e929df;
  color: white;
  text-align: center;
}

